<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3435380376-up3orp7rgie5f1m8n8cbrpprselk0i6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3435380376-up3orp7rgie5f1m8n8cbrpprselk0i6n</string>
	<key>API_KEY</key>
	<string>AIzaSyDvQ-Vc1kgVklsscKgMPXCyNDIiuSC9snM</string>
	<key>GCM_SENDER_ID</key>
	<string>3435380376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.co188.heythere</string>
	<key>PROJECT_ID</key>
	<string>heymatch-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>heymatch-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3435380376:ios:e20dfe6c3c34cfedbd9aed</string>
</dict>
</plist>